---
---
@charset "utf-8";

$image_path: '/images';

// reset and libraries
//
@import "variables";
@import "reset";
@import "fonts";
@import "grid";

body {
  transition: background 250ms ease-out;
}

// intro section
//

.homeContainer {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;

  h1, h2, a, .divider {
    font: 700 10rem/20rem 'Karla';
    display: inline;
    word-break: break-all;
    word-wrap: break-word;
    transition: color 250ms ease-out;
  }
}

// themes
//

body[data-theme="0"] {
  background: #fff;
  color: #a7a7a7;

  .divider { color: #ff7e00; }

  .myName { color: #000; }
  .myTitle { color: #919191; }

  h2 a:link { color: #000; }
  h2 a:visited { color: #000; }

  h2 a.myTwitter:hover { color: #55acee; }
  h2 a.myTwitter:active { color: #55acee; }

  h2 a.myCodePen:hover { color: #47cf73; }
  h2 a.myCodePen:active { color: #47cf73; }

  h2 a.myBandCamp:hover { color: #ff7e00; }
  h2 a.myBandCamp:active { color: #ff7e00; }

  h2 a.myJob:hover { color: #f224f2; }
  h2 a.myJob:active { color: #f224f2; }
}
